* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #013b4f;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
.header .x-mark {
  display: none;
  width: 30px;
  cursor: pointer;
}
.header .hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 950px) {
  .header .hamburger {
    display: flex;
    width: 30px;
  }
}
.header .header-main {
  width: 80%;
  height: 100%;
  background-color: #013b4f;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 950px) {
  .header .header-main {
    width: 100%;
  }
}
.header .header-main .jo-in {
  width: 60px;
}
.header .header-main .water-all {
  display: flex;
}
@media (max-width: 950px) {
  .header .header-main .water-all {
    position: absolute;
    flex-direction: column;
    top: 80px;
    background-color: #013B4F;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    height: calc(100vh - 80px);
    display: none;
  }
}
.header .header-main .water-all .water {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 20px;
  padding-top: 10px;
}
@media (max-width: 950px) {
  .header .header-main .water-all .water {
    padding-bottom: 30px;
    border-bottom: 1px solid #B3925B;
    margin-top: 5px;
  }
}
.header .header-main .water-all .water:hover {
  text-shadow: -2px 2px 10px white, 2px 2px 10px white;
}
.header .header-main .water-all .water-other {
  padding-top: 20px;
}

.top-class {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  background-color: #E5E3DD;
  padding-top: 250px;
  overflow-x: hidden;
}
@media (max-width: 1025px) {
  .top-class {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }
}
.top-class .top-class-left {
  width: 40%;
}
@media (max-width: 1025px) {
  .top-class .top-class-left {
    margin-bottom: 80px;
  }
}
@media (max-width: 650px) {
  .top-class .top-class-left {
    width: 100%;
  }
}
.top-class .top-class-left .drink-menu {
  font-size: 30px;
  letter-spacing: 1.3rem;
  color: #013B4F;
  margin-bottom: 40px;
  white-space: nowrap;
}
@media (max-width: 1025px) {
  .top-class .top-class-left .drink-menu {
    font-size: 25px;
  }
}
.top-class .top-class-left .order {
  letter-spacing: 0.5rem;
  color: #013B4F;
  margin: 10px 0px 20px 20px;
  font-size: 20px;
  white-space: nowrap;
}
@media (max-width: 1025px) {
  .top-class .top-class-left .order {
    font-size: 15px;
  }
}
.top-class .top-class-left .qrCode {
  letter-spacing: 0.5rem;
  color: #013B4F;
  margin: 10px 0px 20px 20px;
  font-size: 20px;
  white-space: nowrap;
}
@media (max-width: 1025px) {
  .top-class .top-class-left .qrCode {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .top-class .top-class-left .qrCode {
    letter-spacing: 0.3rem;
  }
}
.top-class .top-class-left .information {
  letter-spacing: 0.2rem;
  color: #013B4F;
  font-weight: 700;
  margin: 10px 0px 20px 20px;
  font-size: 20px;
  white-space: nowrap;
}
@media (max-width: 1025px) {
  .top-class .top-class-left .information {
    font-size: 15px;
  }
}
.top-class .top-class-left .cups {
  letter-spacing: 0.7rem;
  color: #013B4F;
  margin: 10px 0px 5px 40px;
  font-size: 18px;
  white-space: nowrap;
}
@media (max-width: 1025px) {
  .top-class .top-class-left .cups {
    font-size: 15px;
  }
}
.top-class .top-class-left .cups div {
  margin-bottom: 15px;
}
.top-class .top-class-left .cups span {
  font-weight: 700;
}
.top-class .top-class-right {
  position: relative;
}
@media (max-width: 650px) {
  .top-class .top-class-right {
    display: flex;
  }
}
@media (max-width: 650px) {
  .top-class .top-class-right .top-class-right-pic {
    margin: 0 auto;
    width: 50%;
  }
}
.top-class .top-class-right .right-order {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: #013B4F;
  background-image: linear-gradient(to right, #0d5770, #013B4F, #2b5876, #1486a8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  flex-direction: column;
  position: absolute;
  top: -30%;
  left: 45%;
  cursor: pointer;
  transition: 0.3s;
  background-position: 100% 0;
}
@media (max-width: 650px) {
  .top-class .top-class-right .right-order div {
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  .top-class .top-class-right .right-order {
    width: 84px;
    height: 84px;
    top: -50%;
  }
}
.top-class .top-class-right .right-order:hover {
  transform: translateY(-6px);
  background-position: 100% 0;
}
.top-class .top-class-right .right-order::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 650px) {
  .top-class .top-class-right .right-order::after {
    width: 70px;
    height: 70px;
  }
}

.main-class {
  width: 100%;
  background-color: #E5E3DD;
  padding-top: 80px;
  padding-bottom: 120px;
}
.main-class .shopping {
  width: 130px;
  height: 130px;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  text-indent: 1rem;
  border-radius: 50%;
  background-color: #013B4F;
  color: #B3925B;
  opacity: 0.8;
  position: fixed;
  right: 5%;
  bottom: 150px;
  border: none;
  z-index: 2;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 650px) {
  .main-class .shopping {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 650px) {
  .main-class .shopping #shop-car {
    width: 50px;
    height: 50px;
  }
}
.main-class .menu {
  width: 65%;
  background-color: #63CCC8;
  border-radius: 25px;
  margin: 0 auto;
  color: #013B4F;
  padding-bottom: 80px;
}
@media (max-width: 1450px) {
  .main-class .menu {
    width: 75%;
  }
}
@media (max-width: 1250px) {
  .main-class .menu {
    width: 85%;
  }
}
@media (max-width: 1100px) {
  .main-class .menu {
    width: 90%;
  }
}
.main-class .menu .title {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}
.main-class .menu .detail-class-all {
  display: flex;
}
@media (max-width: 1025px) {
  .main-class .menu .detail-class-all {
    flex-direction: column;
  }
}
.main-class .menu .detail-class-all .detail-class-left {
  width: calc((100% - 200px) / 3);
  margin: 0px 50px;
}
@media (max-width: 1025px) {
  .main-class .menu .detail-class-all .detail-class-left {
    width: 90%;
    margin: 0 auto;
  }
}
.main-class .menu .detail-class-all .detail-class-left .detail-class {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.main-class .menu .detail-class-all .detail-class-left .line {
  border-bottom: 1px white solid;
  margin: 20px 0px;
}
.main-class .menu .detail-class-all .detail-class-left .size {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  margin-bottom: 25px;
}
.main-class .menu .detail-class-all .detail-class-left .size div {
  width: 50px;
  text-align: center;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-one {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-one .plus {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  color: black;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-one .latte {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-one .dollar-1 {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-one .dollar-2 {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-two {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-two .plus-two {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-two .milk {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-two .dollar-one-milk {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-two .dollar-two-milk {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-three {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-three .plus-three {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-three .black-tea-latte {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-three .dollar-one-latte {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-three .dollar-two-latte {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-four {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-four .plus-four {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-four .fresh-milk-tea {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-four .dollar-one-fresh {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-four .dollar-two-fresh {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-five {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-five .plus-five {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-five .wulong-latte {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-five .dollar-one-wulong {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-five .dollar-two-wulong {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-six {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-six .plus-six {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-six .pearl {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-six .dollar-one-pearl {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-left .detail .detail-six .dollar-two-pearl {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid {
  width: calc((100% - 200px) / 3);
  margin-right: 50px;
}
@media (max-width: 1025px) {
  .main-class .menu .detail-class-all .detail-class-mid {
    width: 90%;
    margin: 0 auto;
  }
}
.main-class .menu .detail-class-all .detail-class-mid .detail-class-two {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.main-class .menu .detail-class-all .detail-class-mid .line-2 {
  border-bottom: 1px white solid;
  margin: 20px 0px;
}
.main-class .menu .detail-class-all .detail-class-mid .size-2 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  margin-bottom: 25px;
}
.main-class .menu .detail-class-all .detail-class-mid .size-2 div {
  width: 50px;
  text-align: center;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-one {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-one .plus {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  color: black;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-one .jian-black-tea {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-one .dollar-1 {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-one .dollar-2 {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-two {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-two .plus-two {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-two .molly {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-two .dollar-one-molly {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-two .dollar-two-molly {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-three {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-three .plus-three {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-three .wulong {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-three .dollar-one-wulong {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-three .dollar-two-wulong {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-four {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-four .plus-four {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-four .spring {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-four .dollar-one-spring {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-four .dollar-two-spring {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-five {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-five .plus-five {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-five .king {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-five .dollar-one-king {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-mid .detail-five .dollar-two-king {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right {
  width: calc((100% - 200px) / 3);
}
@media (max-width: 1025px) {
  .main-class .menu .detail-class-all .detail-class-right {
    width: 90%;
    margin: 0 auto;
  }
}
.main-class .menu .detail-class-all .detail-class-right .detail-class-three {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.main-class .menu .detail-class-all .detail-class-right .line-3 {
  border-bottom: 1px white solid;
  margin: 20px 0px;
}
.main-class .menu .detail-class-all .detail-class-right .size-3 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  margin-bottom: 25px;
}
.main-class .menu .detail-class-all .detail-class-right .size-3 div {
  width: 50px;
  text-align: center;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-one {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-one .plus {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  color: black;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-one .liuTing {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-one .dollar-1 {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-one .dollar-2 {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-two {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-two .plus-two {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-two .chin {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-two .dollar-one-chin {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-two .dollar-two-chin {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-three {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-three .plus-three {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-three .xiangYu {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-three .dollar-one-xiangYu {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-three .dollar-two-xiangYu {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-four {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-four .plus-four {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-four .lemon {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-four .dollar-one-lemon {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-four .dollar-two-lemon {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-five {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  cursor: pointer;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-five .plus-five {
  border-radius: 50%;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-five .greenTea {
  padding: 0;
  letter-spacing: 5px;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-five .dollar-one-greenTea {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  letter-spacing: 3px;
}
.main-class .menu .detail-class-all .detail-class-right .detail .detail-five .dollar-two-greenTea {
  color: white;
  font-size: 1.3rem;
  margin-right: 6px;
  letter-spacing: 3px;
}

.footer {
  width: 100%;
  height: 20vh;
  background-color: #013b4f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-main {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .footer .footer-main {
    width: 80%;
  }
}
.footer .footer-main .footer-mid {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .footer .footer-main .footer-mid {
    display: none;
  }
}
.footer .footer-main .footer-mid a {
  display: block;
  font-size: 16px;
  color: #b3925b;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
}
.footer .footer-main .footer-right {
  width: 100px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=menu.css.map */